 @font-face {
  font-family: PT Sans;
  src: url(fonts/web/ptsans.woff);
}
 
 body{
 width: 1200px;
 font-size: 14px;
 line-height: 26px;
 font-family: "PT Sans"; 
 color: #000000;
 margin: 0 40px 0 40px;
 /*background-color: grey;*/
 text-transform: uppercase;
}

h2{
 font-size: 21px;
 font-weight: bold;
 margin-block-start: 0px;
 margin-block-end: 0px;
 margin-inline-start: 0px;
 margin-inline-end: 0px;
 margin: 15px auto 15px auto;
 text-align: center;
}

p{
 text-align: center;
 margin-block-start: 0em;
 margin-block-end: 0em;
 margin-inline-start: 0px;
 margin-inline-end: 0px;
 margin: 10px auto 10px auto;
}

input[type="date"]{
 width: 75%;
 background-color: #f2f2f2;
 color: #000000;
 border-style: none;
 padding: 0;
}

input[type="number"]{
 width: 25%;
 background-color: #f2f2f2;
 color: #000000;
 border-style: none;
 padding: 0;
}

input[type="date"]::after{
 width: 21px;
 height: 22px;
 background-image: url("img/calendar.png");
 background-repeat: no-repeat;
 background-position: left;
}

 @media{min-width: 768px;
}

.center-block{
 width: 1200px;
 height: 950px;
 /*background-color: blue;*/
 padding: 0 70px 0 70px;
}

.top-container{
 display: flex;
 width: 1200px;
 height: 70px;
 margin: 0;
 /*background-color: grey;*/
}

.sub-menu{
 display: flex;
 width: 1200px;
 height: 35px;
 text-decoration-style: solid;	
 margin: 0;
 padding: 20px 0 0 0;
 justify-content: space-between;
 /*background-color: green;*/
}

.information,
.photo_video,
.fone,
.map_states,
.hotels{
 display: flex;
 padding: 0;
 justify-content: space-between;
}

.information a,
.photo_video a,
.map_states a,
.hotels a{
 font-weight: bold;
 text-transform: uppercase;
 color: #000000;
 text-decoration: none;	
}

.fone{
 display: flex;
 content: '';
 width: 138px;
 height: 70px;
 margin: -20px 0 0 0;
 /*background-color: red;*/
 background-image: url("img/logo1.png");
}

.logo{
 display: flex;
 width: 67px;
 height: 56px;
 content: url("img/logo.png");
 margin: 0 auto auto auto;
 align-content: center;
}
/*
.welcome{
 width: 1200px;
 /*height: 720px;
 content: '';
}*/

.photo{
 content: '';
 width: 1200px;
 height: 720px;
 background-image: url("img/background_photo.png");
 margin: -13px 0 0 0;
}

.phrase_photo{
 display: flex;
 content: '';
 width: 1200px;
 height: 447px;
}

.photo-center{
 content: '';
 width: 1200px;
 /*background-color: red;*/
 align-content: space-between;
 margin: auto;
}

/*
.phrase_photo li{
 align-content: center;
}*/

.phrase_welcome{
 content: '';
 width: 186px;
 height: 45px;
 background-image: url("img/phrase_welcome.png");
 background-repeat: no-repeat;
 margin: auto auto 10px auto;
}

.phrase_to_the_gorgeous{
 content: '';
 width: 176px;
 height: 30px;
 background-image: url("img/phrase_to_the_gorgeous.png");
 background-repeat: no-repeat;
 margin: auto;
}

.line_to_the_gorgeous{
 content: '';
 width: 256px;
 height: 2px;
 background-image: url("img/line_gorgeous.png");
 background-repeat: no-repeat;
 margin: -20px auto auto auto;;
}

.phrase_sedona{
 content: '';
 width: 458px;
 height: 78px;
 background-image: url("img/phrase_sedona.png");
 background-repeat: no-repeat;
 margin: 50px auto 50px auto;
}

.phrase_because{
 content: '';
 width: 296px;
 height: 80px;
 background-image: url("img/phrase_because.png");
 background-repeat: no-repeat;
 margin: auto;
}

.white_line{
 display: flex;
 content: '';
 width: 1200px;
 height: 57px;
 background-image: url("img/white_line.png");
 margin: 0;
}

.slogan{
 display: flex;
 content: '';
 width: 1200px;
 height: 216px;
 background-color: #ffffff;
 margin: 0;/*auto*/
}

.center-slogan{
 content: '';
 width: 1200px;
 margin: auto;
}

.slogan-center,
.slogan-center-2{
 display: flex;
 width: 1200px;
 justify-content: center;
}

.really_town,
.devil_bridge{
 display: flex;
 width: 1200px;
 height: 256px;
 justify-content: space-between;
}

.text_town,
.text_bridge{
 display: flex;
 content: '';
 width: 400px;
 height: 256px;
 color: #ffffff;
 background-color: #81b3d2;
}

.image_town{
 width: 800px;
 height: 256px;
 content: '';
 background-image: url("img/town.png");
}

.text_advantages{
 display: flex;
 justify-content: center;
}
 p.text_advantages{
 display: flex;
 width: 330px;
 justify-content: center;
 align-items: center;
 margin: auto;
}

.advantages_center{
 content: '';
 width: 400px;
 margin: auto;
}

.image_bridge{
 width: 800px;
 height: 256px;
 content: '';
 background-image: url("img/bridge.png");
}

.advantages,
.advantages-2{
 display: flex;
 width: 1200px;
 justify-content: space-between;
}

.habitation,
.food,
.souvenir{
 display: flex;
 content: '';
 width: 400px;
 height: 256px;
 color: #000000;
 background-color: #ffffff;
}

.small_area,
.beautiful_roads,
.few_tourists{
 display: flex;
 content: '';
 width: 400px;
 height: 256px;
 color: #000000;
 background-color: #eeeeee;
}

.habitation-image{
 display: flex;
 justify-content: center;
 width: 75px;
 height: 72px;
 content: '';
 background-image: url("img/house.png");
}

.food-image{
 width: 74px;
 height: 70px;
 content: '';
 background-image: url("img/food.png");
}

.image_center{
 display: flex;
 width: 400px;
 height: 80px;
 content: ''; 
 justify-content: center;
 margin: 15px auto 15px auto;
}

.souvenir-image{
 display: flex;
 justify-content: center;
 width: 64px;
 height: 76px;
 content: '';
 background-image: url("img/souvenir.png");
}

.photo_map{
 display: flex;
 content: '';
 width: 1200px;
 height: 475px;
 background-image: url("img/map.png");
 margin: -395px 0 0 0;
}

.slogan_2{
 display: flex;
 width: 1200px;
 height: 290px;
 background-color: #FFFFFF;
 margin: 0;
}

.search_form{
 content: '';
 display: flex;
 width: 568px;
 height: 480px;
 background-color: grey;
 margin: -86px auto 0 auto;
}

.search_form_center{
 content: '';
 width: 568px;
 height: 395px;
 margin: 0;
 justify-content: center;
 align-items: center;
 background-color: green;
}

.search_Sedona{
 display: flex;
 width: 568px;
 height: 86px;
 justify-content: center;
 align-items: center;
 background-color: #766357;
 color: #FFFFFF;
 margin: auto;
}


.form_Sedona{
 display: flex;
 width: 458px;
 height: 175px;
 background-color: #FFFFFF;
 color: #000000;
 margin: auto;
}

.list_form{
 content: '';
 margin: auto;
 padding: 0;
 list-style: none;
}

.list_form li{
 display: flex;
 width: 458px;
 justify-content: space-between;
 margin: 10px auto 10px auto;
 padding: 0;
}


.search{
 display: flex;
 width: 458px;
 height: 58px;
 justify-content: center;
 align-items: center;
 background-color: #81b3d2;
 color: #FFFFFF;
 margin: auto;
 border: 0;
 text-transform: uppercase;
 font-size: 21px;
 line-height: 26px;
}

.footer-container{
 display: flex;
 width: 1200px;
 height: 55px;
 justify-content: space-between;
 /*background-color: grey;*/
 background-color: white;
 padding: 30px 0 30px 0;
 align-items: center;
 margin: 0;
}

.teg{
 width: 160px;
 text-transform: uppercase;
 font-weight: bold;
 font-size: 21px;
 line-height: 26px;
 margin: 0 0 0 55px;
}

.line{
 content:'';
 width: 1340px;
 height: 1px;
 background-image: url("img/line.png");
 margin: 0 0 0 -70px;
}

.social-media{
 display: flex;
 width: 770px;
 /*background-color: white;*/
}

.website{
 width: 215px;
 height: 48px;
 content: '';
 /*background-color: green;*/
}

.social-links-image{
 display: flex;
 width: 150px;
 height: 48px;
 content: '';
 margin: 0;
 padding: 0;
 justify-content: space-between;
 /*background-color: green;*/
}

.facebook,
.youtube,
.twitter{
 width: 46px;
 height: 48px;
 content: '';
 background-color: #81b3d2;
 background-position: center;
 list-style: none;
 background-repeat: no-repeat;
}

.facebook{
 background-image: url("img/facebook.png");
}

.youtube{
 background-image: url("img/youtube.png");
}

.twitter{
 background-image: url("img/twitter.png");
}

.center-footer{
 width: 770px;/*1200-215-215*/
 display: flex;
 /*background-color: red;*/
 justify-content: center;
}
